*{
list-style-type: none;
}
.blue-btn {
  background-color: #0d6efd;
  border-radius: 5px;
}

.navbar-nav li {
  margin: 0px 15px;
}
.navbar-nav li a {
  color: #0d6efd;
}
.jumbotron {
  padding: 150px;
  background-color: #37517e;
}

.title-text {
  font-size: 48px;
}

.w-80 {
  width: 85%;
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.lead {
  font-size: 24px;
  color: #afb9cb;
}

#submit {
  background-color: #47b2e4;
}

.wrapper {
  background-color: #f3f5fa;
}

.text-group h3 {
  color: #37517e;
}

.text-group p {
  color: #444;
}

#search {
  border: none;
  outline: none;
}

footer .row {
  padding: 100px;
}

.arsha h3 {
  color: #37517e;
}

.networks h3{
  color: #37517e;
}

.copyright{
background-color: #37517e;
}